.offerBanner {
    display: flex;
    justify-content: start;
    align-items: center;
    color: var(--color-primary);
    height: 80vh;
    font-size: xx-large;
    line-height: 55px;
}

.offerBanner section {
    background-color: hsl(0 0% 95%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.offerBanner h2 {
    padding: 0.4vw 0.8vw;
    margin: 30px 0px;
    letter-spacing: -0.04em;
    font-family: "Michroma", sans-serif;
    font-weight:900;   
}

.allProducts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  
    
}

.allProducts > div {
    background-color: hsl(0 0% 95%);
    padding: 10px;
}


.allProducts img {
    height: 500px;
    width: 100%;
    object-fit: cover;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 1));
    
}