@import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Barriecito&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Michroma&display=swap');

h1 {
  font-size: clamp(1.5rem, 2vw, 3rem);
  letter-spacing: 0rem;
  width: max-content;
}
.topHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30pxpx;
  padding: 0.4vw 0.8vw;
  margin: 0.4vw 0.8vw;
  margin-top: 0px;
}

.topHeader h4 {
  font-family: sans-serif;
  font-weight: 100;
  color: var(--color-secondary);
}

.topHeader .shopNow {
  /* padding: 0.1vw; */
  height: 100%;
  font-family: sans-serif;
  font-weight: 100;
  text-decoration: underline;
}

.sale {
  height: 100%;
  display: flex;
  align-items: start;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  padding: 0.4vw 0.8vw;
  margin: 1vw 0.4vw;
  gap: 40px;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 400px;
  justify-content: start;
}

.navbar ul li {
  font-weight: 300;
  color: hsl(0, 0%, 50%);
  cursor: pointer;

}



.navbar ul li:hover {
  color: hsl(0, 0%, 0%);
  font-weight: 400;
  transition: color 0.3 ease;
}


.logo {
  color: var(--color-primary);

  font-family: "Barriecito", system-ui;
  font-weight: 200;
}

.login {
  align-self: center;
}

.hamburger {
  align-self: center;
}

@media (max-width: 600px) {
  .login {
    display: none;
  }

  .navbar, .navbar ul  {
    display: flex;
    flex-direction: column;
  }
  .navbar .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

@media (min-width: 600px) {
  .hamburger {
    display: none;
  }
}

